
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 400 14px/20px "Montserrat", Arial, sans-serif; 
}

.uk-navbar-nav, /* ul */
#primary-menu {
    list-style-type: "/";
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item { /* li */
    font-size: larger;
    float: left;
}

.menu-item a { /* li a */
    display: block;
    color: #f37021; 
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* li a:hover */
.menu-item a:hover {
    background-color: #cccccc;
}
.uk-active {
    background-color: red !important;
/*    background-color: #fcfcfc !important; */
}
