html, body {
	font-size: 15px;
	line-height: 23px;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 400 14px/20px "Montserrat", Arial, sans-serif;
}

em {
	color: #555;
}

#masthead {
	.uk-navbar-attached {
		border-top: none !important;
		border-bottom: none !important;
	}

	.uk-navbar-nav > li.uk-active > a {
		background-color: #fff;
	}

	h1 i {
		color: #ccc;
	}
	
	@media screen and (max-width: 767px) {
		h1 {
			margin-bottom: -0.5em;
		}
	}
}

#main {
	margin-top: 28px;
	
	.pagination .sort-form {
		text-align: right;
		@media screen and (max-width: 767px) {
			text-align: left;
			margin-top: 1em;
		}
	}
	
	.ul-list {
		/*border-top: 1px solid #ddd;*/
		.ul-list-item {
		    /*  border-bottom: 1px solid #ddd; */
			padding-bottom: 25px;
			padding-top: 25px;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
	
	.rounded-corners {
	    border-radius:10px;
	}
	.rounded-area {
	    border-radius:15px;
	    padding:10px;
	    margin-bottom:15px;
	    background:#eee;
	}

	.pw-selector {
		font-family: monospace;
	}
	
	.MarkupGoogleMap {
		margin-bottom: 15px;
	}
}

#foot {
	border-top: 1px solid #ddd;
	padding: 27px 0;
	.foot-line {
		display: block;
	}
	@media screen and (max-width: 767px) {
		.foot-text {
			white-space: nowrap;
			display: block;
		}
	}
}

#offcanvas-toggle {
	position: absolute;
	top: 10px;
	left: 12px;
}
